## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user

## NuGet
**/packages/
*.nupkg
**/[Pp]ackages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## IDE
.idea/
.vscode/
*.swp

## OS
.DS_Store
Thumbs.db

## Docker
docker-compose.override.yml

## Secrets
appsettings.*.local.json
